<%=will_paginate%>


<div>
  <%@users.each do |user| %>
      <div class="users-item">
        <a href="<%= user_path(user.id) %>" class="users-avatar"><%=image_tag user.avatar%></a>
        <%=link_to "#{user.first_name} #{user.surname} (#{user.bdate})", user_path(user.id) %>
        <b><%=user.email%></b>
      </div>
  <%end%>
</div>