<%=provide :common_lower_title, 'книга'%>
<%=will_paginate @books%>
<div id="part-of-books" style="line-height: 2">
<% @books.each do |book| %>
    <span>Name: <span style="color: #3a3a3a;"><%= link_to book.original_name, {action: :show, id: book.id} %></span></span>
    <span style="background: #ddf;">(<%= book.published_at %>)</span>
    <br>
<% end %>
</div>

<%=form_for @books[0], url: '/books', method: :get, remote: true do |f|%>
    <%=f.submit%>
<%end%>

<script>
window.addEventListener("load", function() {
    return; //***
    console.log("onload");
    var lastHref = location.href;
    window.addEventListener('popstate', function (e) {
        console.log(lastHref, lastHref === location.href);
        lastHref = location.href;
        Turbolinks.visit();
        return false;
//    var a = document.createElement("a");
//    a.href = window.location.href;
////    a.style.display = "none";
//    document.body.append(a);
//    a.click();
    });
});
//$(document).on("turbolinks:before-visit", function () {
//    console.log("before visiting");
//});
</script>