<%#console if Rails.env.development?%>
<%#console if Rails.env.production?%>
<!DOCTYPE html>
<html>
<head>
    <title>BookLife</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
  .field_with_errors > *{
  border-color: red;
}
</style>
  </head>

<body>

  <div style="text-align: right;">
    <%=link_to 'Books', books_path%>
    <%=link_to 'Main', root_path%>
    <%=link_to 'Register', signup_path%>
    <%=link_to 'Login', signin_path%>
    <%=link_to 'Signout', signout_path, method: :delete%>
    <%=link_to 'Users', users_path%>
    <%=link_to 'Settings', current_user_settings_path%>
  </div>
  <div class="background-subscription">
    <!--authform.(coffee|scss)-->
    <%unless signed_in?%>
      <%=form_for User.new, url: signup_path, html: {class: 'for-the-subscription-window'}, authenticity_token: false do |f|%>
          <%=hidden_field_tag 'authenticity_token', form_authenticity_token%>
          <h1>Вход или регистрация</h1>
          <div id="answer"></div>
          <div class="credential-mail">
            <img id="user_icon_form" class="user-icon" />
            <%=f.text_field :email, type: :email, class: 'field-for-entering-personal-data email', placeholder: 'Ваша почта' %>
          </div>
          <%=f.password_field :password, class: 'field-for-entering-personal-data', placeholder: 'Пароль' %>
          <div id="registration_fields" class="registration-fields" data-action="sign_in">
            <div class="fields-for-name">
              <%=f.text_field :first_name, class: 'field-for-entering-personal-data', placeholder: 'Ваше имя', style: 'margin-right: 10px;' %>
              <%=f.text_field :surname, class: 'field-for-entering-personal-data', placeholder: 'Ваша фамилия' %>
            </div>
            <!--<input type="text" name="learned" id="learned" class="field-for-entering-personal-data" placeholder="[Откуда Вы о нас узнали?]">-->
          </div>
          <input type="submit" id="signing" class="button-to-send" data-sign-in="Вход" data-sign-up="Регистрация" value="Регистрация">
      <%end%>
    <%end%>
    <!--<form action="" id="feedback" name="subscription" method="post" class="for-the-subscription-window">-->
      <!--<h1>Вход или регистрация</h1>-->
      <!--<div id="answer"></div>-->
      <!--<div class="credential-mail">-->
        <!--<img src="/images/user.jpg" />-->
        <!--<input type="text" name="email" id="email" class="field-for-entering-personal-data" required="" placeholder="Ваша почта">-->
      <!--</div>-->
      <!--<div class="fields-for-name">-->
        <!--<input type="text" name="name" id="name" style="margin-right: 10px;" class="field-for-entering-personal-data" required="" placeholder="Ваше имя">-->
        <!--<input type="text" name="surname" id="surname" class="field-for-entering-personal-data" required="" placeholder="Ваше фамилия">-->
      <!--</div>-->
      <!--<input type="text" name="learned" id="learned" class="field-for-entering-personal-data" required="" placeholder="Откуда Вы о нас узнали?">-->
      <!--<input type="text" name="password" id="password" class="field-for-entering-personal-data" required="" placeholder="Пароль">-->
      <!--&lt;!&ndash;<input type="submit" name="ok" value="Отправить" class="">&ndash;&gt;-->
      <!--<button class="button-to-send" name="login">Вход</button>-->
      <!--<button class="button-to-send" name="registration">Регистрация</button>-->
      <!--<p>Регистрируясь, я принимаю <a href="/">условия использования</a></p>-->
    <!--</form>-->
    <div class="closed-background-subscription"></div>
  </div>

  <div class="left-column-menu">
    <div class="head-panel-logo">
      <a href="/" class="logo">КнигаЖизнь</a>

      <div style="display: table; margin: 0 auto;">
        <img style="width: 20px; background-color: white; padding: 10px; border-radius: 50%; height: 20px; margin: 0 5px; cursor: pointer;" src="/images/ebook.png" />
        <img style="width: 20px; background-color: white; padding: 10px; border-radius: 50%; height: 20px; margin: 0 5px; cursor: pointer;" src="/images/abook.png" />
      </div>

      <div class="search"><input type="text" value="" placeholder="Книга, автор или жанр"></div>
    </div>

    <div class="body-left-column-menu">
      <ul class="head-menu">
        <li class="current-item-head-menu item-head-menu"><a href="/" class="a-item-head-menu"><span class="img-item-head-menu tape-img-item-head-menu"><div class="tape-img-item-head-menu"></div></span><span class="text-item-head-menu">ЛЕНТА</span></a></li>
        <li class="item-head-menu"><a href="/" class="a-item-head-menu"><span class="img-item-head-menu"><div class="library-img-item-head-menu"></div></span><span class="text-item-head-menu">БИБЛИОТЕКА</span></a></li>
        <%if signed_in?%>
          <li class="item-head-menu">
            <%=link_to settings_path, class: 'a-item-head-menu' do%>
                <span class="img-item-head-menu"><div class="profile-img-item-head-menu"></div></span>
                <span class="text-item-head-menu">ПРОФИЛЬ</span>
            <%end%>
          </li>
        <%end%>
        <li class="item-head-menu"><a href="/" class="a-item-head-menu"><span class="img-item-head-menu"><div class="people-img-item-head-menu"></div></span><span class="text-item-head-menu">ЛЮДИ</span></a></li>
        <li class="item-head-menu"><a href="/" class="a-item-head-menu"><span class="img-item-head-menu"><div class="group-img-item-head-menu"></div></span><span class="text-item-head-menu">ПОЛКИ</span></a></li>
      </ul>

      <div class="word-favorites">подписки</div>

      <ul class="head-favorites">
        <li class="item-head-favorites"><a href="/" class="a-item-head-favorites"><img class="library-img-item-head-favorites" src="/images/4.jpg" /><span class="text-item-head-favorites">МИРОВАЯ ЛИТЕРАТУРА</span></a></li>
        <li class="item-head-favorites"><a href="/" class="a-item-head-favorites"><img class="library-img-item-head-favorites" src="/images/4.jpg" /><span class="text-item-head-favorites">БИЗНЕС КНИГИ</span></a></li>
        <li class="item-head-favorites"><a href="/" class="a-item-head-favorites"><img class="library-img-item-head-favorites" src="/images/4.jpg" /><span class="text-item-head-favorites">БИЗНЕС КНИГИ</span></a></li>
        <li class="item-head-favorites"><a href="/" class="a-item-head-favorites"><img class="library-img-item-head-favorites" src="/images/4.jpg" /><span class="text-item-head-favorites">БИЗНЕС КНИГИ</span></a></li>
        <li class="item-head-favorites"><a href="/" class="a-item-head-favorites"><img class="library-img-item-head-favorites" src="/images/4.jpg" /><span class="text-item-head-favorites">БИЗНЕС КНИГИ</span></a></li>
      </ul>
      <div class="head-continue">
        <img class="img-head-continue" src="/images/5.jpg" />
        <span class="text-head-continue">Продолжить...</span>

        <div class="head-reveal-history-of-reading"><div></div></div>
      </div>

      <div id="open_auth_form" class="login">
        <%if signed_in?%>
            <%=link_to 'Signout', signout_path, method: :delete, style: 'color: black; font-size: 12px;'%>
        <%else%>
          <div>ВХОД ИЛИ РЕГИСТРАЦИЯ</div>
        <%end%>
      </div>

      <div class="head-user-panel">
        <img class="img-head-user-panel" src="/images/user.jpg" />

        <div class="text-head-user-panel">
          <div class="name-head-user-panel">Юсупов Расул</div>
          <a href="/" class="subscription-head-user-panel"><div></div>Без подписки</a>
        </div>

        <div class="notification-head-user-panel"><div></div></div>
        <div class="bottom-arrow-head-user-panel"><div></div></div>

      </div>

    </div>

  </div>

  <!-- Левое поле -->
  <!--<? if($path == 'book.php' || $path == 'reviews.php' || $path == 'user.php') : ?>-->
  <%= render 'shared/left_menu' if (params[:controller] == 'users' and params[:action] == 'show') or (params[:controller] == 'books' and params[:action] == 'show')%>
  <!--<? endif; ?>-->
  <div class="main-column-catalog">
    <!-- require 'views/' . $path; -->
    <%=yield%>
  </div>
</body>
</html>
